footer {
  background: #1f2e35;
  padding: 150px 146px;
  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    .footer_ul_img {
      margin-top: 25px;
      display: flex;
      gap: 16px;
    }
    .footer_A {
      color: #fff;
      font-family: "Poppins";
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      margin-bottom: 10px;
    }
    .footer_a {
      color: #fff;
      font-family: "Poppins";
      font-size: 16px;
      font-weight: 400;
      line-height: 35px;
      margin-bottom: 10px;
    }
    p {
      color: #fff;
      font-family: "Poppins";
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      margin-bottom: 34px;
    }
    input {
      width: 325px;
      height: 48px;
      border-radius: 4px;
      border: 1px solid #bcd0e5;
      background: #fff;
      margin-bottom: 21px;
      padding-left: 15px;
      outline: none;
    }
    .footer_last_a {
      width: 131px;
      height: 39px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background: #02897a;
      border: none;
      color: #fff;
      text-align: center;
      font-family: "Poppins";
      font-size: 16px;
      font-weight: 700;
    }
    .footer_last_a:hover {
      color: #02897a;
      background-color: #fff;
      border: 1px solid #02897a;
    }
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  footer {
    padding: 100px 43px;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  footer {
    padding: 100px 43px;
  }
}

@media (min-width: 447px) and (max-width: 769px) {
  footer {
    padding: 100px 47px;
    nav {
      img {
        margin: 10px auto;
      }
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    input {
      margin: 0 auto;
    }
    .footer_last_a {
      margin: 0 auto;
    }
  }
}
@media (max-width: 447px) {
  footer {
    padding: 100px 47px;
    nav {
      img {
        margin: 10px auto;
      }
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    input {
      margin: 0 auto;
    }
    .footer_last_a {
      margin: 0 auto;
    }
  }
}
